@using Microsoft.AspNetCore.Identity
@using DonutShop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (@UserManager.GetUserName(User).Contains("admin"))
    {
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel" id="admin">AdminPanel</a>
    }

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right menuButtons">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
}
