@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<head>
    <link rel="stylesheet" href="~/css/Body.css" />
</head>
<body>

    <div class="container" style="padding-top:100px">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/donutContact.jpg">
            </div>
            <div class="col-md-6">
                <p style="padding-top: 100px">Contact</p>
            </div>
        </div>
    </div>

</body>
