@{
    ViewData["Title"] = "AdminPanel";
}
<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>

<body>

    <div class="admin-buttons">
        <p> Products :</p>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-plus"> </span></a>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-minus"> </span></a>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-upload"> </span></a>

        <p> Users :</p>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-plus"> </span></a>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-minus"> </span></a>
        <a asp-area="" asp-controller="Home" asp-action="AdminPanel"><span class="glyphicon glyphicon-upload"> </span></a>

    </div>




</body>

</html>
