@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - DonutShop</title>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Body.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>

    <div class="container-fluid no-padding">
        <img src="~/images/wallpaper.jpg" style="width:100%;">
    </div>
    <div id="productGrid">
        <form action="http://localhost:50209/api/cart/Add" method="get">
            <div>
                <div class="ProductImage"><img src="~/images/Donut-cu-Lamaie.jpg"></div>
                <div class="ProductTitle"><p>title</p></div>
                @* class="container-fluid body-content" style="margin-left: 100px"*@
                @*<div><input type="hidden" readonly name="gameName" value=" Menu "></div> *@
                <div class="ProductIngredients"><p>Ingrediente</p></div>
                <div class="ProductPrice"><p>Pret</p></div>
                <div class="ProductTitle"><input type="submit" class="btn btn-warning add-cart-btn" value="ADD TO CART"></div>
            </div >
        </form>
    </div>

    <div id="productGrid">
        <form action="http://localhost:50209/api/cart/Add" method="get">
            <div>
                <div class="ProductImage"><img src="~/images/donuterie-tiramisu-500x500.jpg"></div>
                <div class="ProductTitle"><p>title</p></div>
                @* class="container-fluid body-content" style="margin-left: 100px"*@
                @*<div><input type="hidden" readonly name="gameName" value=" Menu "></div> *@
                <div class="ProductIngredients"><p>Ingrediente</p></div>
                <div class="ProductPrice"><p>Pret</p></div>
                <div class="ProductTitle"><input type="submit" class="btn btn-warning "  value="ADD TO CART"></div>
            </div>
        </form>
    </div>
    <div id="productGrid">
        <form action="http://localhost:50209/api/cart/Add" method="get">
            <div>
                <div class="ProductImage"><img src="~/images/donuterie-kiddo-donut.jpg"></div>
                <div class="ProductTitle"><p>title</p></div>
                @* class="container-fluid body-content" style="margin-left: 100px"*@
                @*<div><input type="hidden" readonly name="gameName" value=" Menu "></div> *@
                <div class="ProductIngredients"><p>Ingrediente</p></div>
                <div class="ProductPrice"><p>Pret</p></div>
                <div class="ProductTitle"><input type="submit" class="btn btn-warning add-cart-btn" value="ADD TO CART"></div>
            </div>
        </form>
    </div>

</body>


</html>
