@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<body>

    <div class="container-fluid " style="padding: 0 !important">
        <img src="~/images/wallpaper.jpg" style="width:100%;">
    </div>

    <div id="productGrid">
            @foreach (var product in ViewBag.Products)
            {
                <div class="product col-md-4" style="text-align:center">
                    <div class="ProductImage"><img src="@product.ProductImage" /></div>
                    <div class="ProductTitle"><p class="productName">@product.ProductName</p></div>
                    <div class="ProductIngredients"><p>@product.ProductDescription</p></div>
                    <div class="ProductPrice"><p>@product.ProductPrice</p></div>
                </div>
            }
    </div>
</body>

</html>
