@{
    ViewData["Title"] = "Menu";
}

<p>Use this area to provide additional information.</p>
<!DOCTYPE html>
<html>

<body>
    <div class="container" >
        <form class="search-button" style="margin-left:300px">
            <input type="text" placeholder="Search product" name="search">
            <button type="submit" onclick="Search()"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div id="productGrid">
        @foreach (var product in ViewBag.Products)
        {
            <div class="product col-md-4" style="text-align:center">
                <div class="ProductImage"><img src="@product.ProductImage" /></div>
                <div class="ProductTitle"><p class="productName">@product.ProductName</p></div>
                <div class="ProductIngredients"><p>@product.ProductDescription</p></div>
                <div class="ProductPrice"><p>@product.ProductPrice</p></div>
                <button class="add-cart-button btn btn-warning">Add To Cart</button>
            </div>
        }
    </div>

</body>
</html>